<div class="about">
	<div class="about-top-text">
		<h1 class="about-top-title">
			<div class="top-about">
				About
			</div>
		</h1>

		<p class="about-top-comment">自分を表現<br>
		誰でも楽しめるファッションを...</p>
	</div>
</div>

	<div class="about-text">
		<h2 class="about-title">〜ようこそFashion Snapへ！〜</h2>
		<p class="about-comment">自分のお気に入りのファッションアイテムを投稿しファッションを広げよう！</p>
	</div>