<div class="about">
	<div class="about-top-text">
		<h1 class="about-top-title">
			<div class="top-about">
				About
			</div>
		</h1>
		<p class="about-top-comment">自分を表現<br>
		誰でも楽しめるファッションを...</p>
	</div>
</div>

	<div class="text">
		<div class="about-text">
			<h2 class="about-title">〜ようこそFashion Snapへ！〜</h2>
			<p class="about-comment">自分のお気に入りのファッションアイテムを投稿しファッションを広げよう！</p>
		</div>

		<div class="clearfix">
			<div class="about-box">
				<div class="about-image">
					<img class="about-text-image" src="../../assets/photographer-16022_1920.jpg">
				</div>
				<div class="about-text-box">
					<h2 class="about-text-title">お気に入りアイテムを投稿</h2>
					<div class="about-text-comment">
						<p class="about-text-box-comment">
							自分のお気に入りのアイテムを投稿し自分を表現しよう！<br>
							投稿することで自分のお気に入りアイテムがみんなで共有することができます！<br>
							素敵な写真を投稿することでランキングに入れるかも...!?
						</p>
					</div>
				</div>
			</div>
		</div>
		<div class="clearfix">
			<div class="about-box">
				<div class="about-image">
					<img class="about-text-image" src="../../assets/blue-2564660_1920.jpg">
				</div>
				<div class="about-text-box">
					<h2 class="about-text-title">最新トレンドアイテムやお気に入りを見つけたらいいね</h2>
					<div class="about-text-comment">
						<p class="about-text-box-comment">
							検索機能でキーワードを入力をしてトレンドアイテムを探してみよう！<br>
							素敵な写真には♡いいねを！
						</p>
					</div>
				</div>
			</div>
		</div>
		<div class="clearfix">
			<div class="about-box">
				<div class="about-image">
					<img class="about-text-image" src="../../assets/girls-839809_1920.jpg">
				</div>
				<div class="about-text-box">
					<h2 class="about-text-title">お洒落な人や趣味の合うユーザーにはフォロー</h2>
					<div class="about-text-comment">
						<p class="about-text-box-comment">
							好きなブランドや趣味が合う人を検索してフォローしよう！<br>
							写真にコメントを残してコミュニケーションを広げてみよう！<br>
							トップページから人気ユーザーランキングを見てみよう！
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>